* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #cursor{
    height: 50px;
    width: 50px;
    background-color: #7d1d1d;
    position: fixed;
    border-radius: 50%;
    opacity: 0%;
    top: -3%;
    left: -1.5%
}
.main, a, label{
    cursor: none;
}